body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid white;
  background: black;
}